# ALX
/build/*
!/build/README.md
/config/*.rb
/dist/**/backup
/dist/**/cache
/dist/**/image
/dist/**/meta
/dist/**/root
/dist/**/scripttask
/log/
/tmp/
/vendor/*
!/vendor/GCRebuilder
!/vendor/GDIBuilder

# Eclipse
.project

# LibreOffice
.~lock.*#

# Linux
*~

# Mac OS X
.DS_Store
._*

# Windows
Thumbs.db
