# Linux
*~

# Mac OS X
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# LibreOffice
.~lock.*#

# ALX
/build/*
!/build/README.md
/config/*.rb
/dist/*/backup
/dist/*/cache
/dist/*/image
/dist/*/meta
/dist/*/root
/log/
/tmp/
/vendor/*
!/vendor/GCRebuilder
!/vendor/GDIBuilder
