# Linux
*~

# Mac OS X
.DS_Store
._*

# Windows
Thumbs.db

# Eclipse
.project

# ALX
/build/
/share/geae8p/*
/share/geaj8p/*
/share/geap8p/*
!/share/geae8p/*.csv
!/share/geaj8p/*.csv
!/share/geap8p/*.csv
